o.screencaps {
   width: 130px;
   height: 97px;
}


body{
   background-color: #3399ff;
   font-family: arial, helvetica;
   font-size: 13px;
}

.title{
   font-size: 18px;
}

#artists{
   float:left;
   height:100%;
   width:150px;
}

#videos{
   height:300px;
   width:500px;
   padding-left:150px;
   float:left;
   overflow-y: auto;
}

#media{
   height:100%;
}

#featureVideo{
   width:500px;
   float:right;
}

textarea#artistnames {
   width:100%;
   height:80%;
}

.menu-artist{
   height: 20px;
   letter-spacing: 1.1;
   color: white;
}