.default-text-active{ color: #a1a1a1; font-style: italic; }

.screencaps {
   background-color:black;
   border:2px solid black;
   cursor:pointer;
   height:90px;
   margin-bottom:5px;
   overflow:hidden;
   text-align:center;
   width:128px;
}

.screenspace {
   width: 128px;
   height: 90px;
}


body{
   background: transparent url(/images/blue_stripe.png) repeat scroll 0 0;
   font-family: arial, helvetica;
   font-size: 13px;
   margin:0;
   padding:0;

}

.title{
   font-size:15px;
   overflow:hidden;
   text-show: white 1px 1px 0;
}

#browser{
float:left;
margin-right:20px;
width:160px;
}

#videos{
   height:300px;
   width:300px;
   padding-left:50px;
   float:left;
   overflow-y: auto;
}

#media{
   height:100%;
   margin: 0px 10px;
}

#featureVideo{
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:1px;
-moz-border-radius-topleft:1px;
-moz-border-radius-topright:2px;
background-color:#EFEFEF;
display:none;
float:right;
height:590px;
margin-bottom:6px;
padding:20px;
width:480px;
}

#featureVideo-obj{
   margin-bottom: 10px;
}

.player-description{
   margin-top:10px;
   font-size: 10px;
}

.player-title{
   font-size: 20px;
   line-height: 42px;
}

.player-fbpost{
   float:right;
   margin-left: 20px;
   cursor:pointer;
}

.small {
   font-size: 10px;
}

.medium{
   font-size: 13px;
}

.message{
background-color:#EFEFEF;
border-bottom:2px solid white;
border-right:2px solid white;
float:left;
font-size:18px;
margin:0;
padding:10px;
}

#artists-menu li.artists-menu-friends {
   display: none;
}

textarea#artistnames {
   width:100%;
   height:80%;
}


#menu-friends{
   display:none;
}

#friends-icon{
   display:none;
}

#popup-welcome-container{
   text-align: center;
}

#popup-welcome-border{
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   background-color:#94C8E9;
   padding:10px;
   display: inline-block;
   margin-top: 150px;
}

#popup-welcome{
   padding: 15px;
   width: 500px;
   background-color: white;
   text-align: left;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
}

#popup-welcome .title{
   margin-bottom: 10px;
   font-size:25px;
   text-shadow: white 1px 1px 0;
}

#popup-welcome .title-section{
   text-shadow: white 1px 1px 0;
}

#popup-welcome #fb-login-button{
-moz-border-radius:5px;
background-color:#CEDAF4;
border:1px solid #A9B3C8;
display:inline-block;
padding:10px;
text-align:center;
}

#popup-welcome-fb {
   display:none;
}

#fb-login-button-wrapper{
   text-align: center;
   padding: 10px
}

#welcome-artistnames {
   width: 100%;
   height: 200px;
}

#popup-welcome-search{
   display: none;
}

#popup-welcome-fb{
}

a.toggle{
   text-decoration: none;
   font-family: monospace;
   float: right;
}
.artist-grouping {
background-color:#DFDFDF;
border-bottom:2px solid #FFFFFF;
border-right:2px solid #FFFFFF;
margin-bottom:10px;
}

#header{
background-color: #94C8E9;
margin-bottom:10px;
padding-bottom:10px;
}

#fb-login {
font-size: 10px;
}

.fb-login-pic{
   float: left;
   margin-right: 5px;
}

.header-icon{
display:block;
float:left;
margin: 10px 18px 0 0;
padding:0px 14px;
width:130px;
   cursor: pointer;
}

.header-icon-img{
   display: block;
   position: absolute;
}

.header-icon-text{
   font-size: 10px;
   margin-left: 55px
}

.inline-search-box{
   margin: 5px 0;
}

#inline-search{
   width: 90px;
   margin-right: 5px;
}

.menu-artist{
cursor:pointer;
display:block;
line-height:20px;
height: 20px;
padding-left:14px;
overflow:hidden;
}


.menu-artist-title {
display:block;
overflow:hidden;
padding:5px;
}

.menu-artist-title-pic { 
   width: 30px;
   height: 30px;
}

.menu-artist-title-name{
   margin-left: 35px;
}


.menu-artist a{
   color: #333333;
}

.menu-artist-selected {
   background-color:#FFFF8F;
}
.menu-artist-selected a{
   text-decoration: none;
   color: #333333;
}

.menu-artist a:hover{
   text-decoration:none;
}
.menu-artist .menu-artist-indicator{
   font-size:20px;
   margin-right:5px;
   margin-top:-2px;
   float: right;
   display: none;
}

.similar-artist {
background-color:#EFEFEF;
border-bottom:2px solid #FFFFFF;
border-right:2px solid #FFFFFF;
cursor:pointer;
display:block;
height:20px;
margin-bottom:7px;
margin-right:15px;
overflow:hidden;
padding:5px 5px 0;
width:150px;
float: left;
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:1px;
-moz-border-radius-topleft:1px;
-moz-border-radius-topright:2px;
}

a{
text-decoration:underline;
color:#0D7BA2;
}

a:hover{

}

#videoInfo-artist {
display:none;
background-color:#EFEFEF;
border-bottom:2px solid #FFFFFF;
border-right:2px solid #FFFFFF;
float:left;
height:150px;
min-height:150px;
margin-bottom:30px;
margin-right:12px;
padding:6px 14px;
width:131px;
-moz-border-radius: 2px;
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:1px;
-moz-border-radius-topleft:1px;
-moz-border-radius-topright:2px;
}

.videoInfo .title{
   height:21px;
   width: 145px;
   overflow: hidden;
}
.videoInfo-friend{
font-size:10px;
margin-right: 3px;
cursor: pointer;
}

#videoInfo-similar{
overflow-x: hidden;
cursor: pointer;
}

.videoInfo-similar{
font-size:10px;
margin-right: 3px;
}

.play-video{
text-align: center;
}

.extra-content{
display:none;
}
#videoInfo-artistName{
font-size: 15px;
font-weight: bolder;
}
.videoInfo {
background-color:#EFEFEF;
border-bottom:2px solid #FFFFFF;
border-right:2px solid #FFFFFF;
float:left;
height:150px;
margin-bottom:30px;
margin-right:12px;
padding:6px 14px;
width:132px;
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:1px;
-moz-border-radius-topleft:1px;
-moz-border-radius-topright:2px;
}

#video-loader{
float:left;
height:150px;
margin-bottom:30px;
margin-right:15px;
padding:6px 14px;
width:132px;
text-align:center;
background-color: #EFEFEF;
border-bottom:2px solid #FFFFFF;
border-right:2px solid #FFFFFF;
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:1px;
-moz-border-radius-topleft:1px;
-moz-border-radius-topright:2px;
}
#video-loader-msg{
font-size:10px;
color:#333333;
margin-top:30px;
}

.videoInfo .ui-button-text-only .ui-button-text {
   padding: 0.2em 0.5em;
}

.videoInfo .ui-button-text {
   line-height: 1em;
   font-size: 12px;
   font-weight: normal;
}

.videoInfo .description{
   display: none;
}

#artistlisting{
width:160px;
}

#queryForm{
   display:none;
}
#friendForm{
   display:none;
}

#friendForm .friend img{
   margin-right: 5px;
}

#friendForm a, #friendForm span{
   display: inline-block;
   margin-right: 5px;
}
#friendForm .friend{
   width: 162px;
   float: left;
   font-size: 12px;
   margin: 5px;
}
ul#artists-menu {
   list-style:none;
   margin:0;
   padding:0;
}

ul#artists-menu li {
   background-color:#EFEFEF;
   border-bottom:2px solid #FFFFFF;
   border-right:2px solid #FFFFFF;
   cursor:pointer;
   height:20px;
   margin-bottom:2px;
   overflow:hidden;
   padding:5px 5px 0;
   display: inline-block;
}

.clear {
   clear: both;
}

#fb_logout_image {
   display:none;
}

.right{
   float: right;
}