html, body{
   height: 100%;
   font-family: helvetica, verdana, sans-serif;
}

#footer{
   height: 50px;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: #CC0099;
   
}

#footer-down{
   display:none;
}

#footer-up, #footer-down{
   float: right;
   position: relative;
   top: -20px;
}

#playlist{
   height: 150px;
   width: 100%;
   padding: 0 10px;
   margin: -50px 0 0 0;
}

#browse-similar{
   font-size: 12px;
}

.browse-similar-entry{
   margin-right: 5px;
}

#playlist .videoInfo{

}

#player-container{
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:1px;
-moz-border-radius-topleft:1px;
-moz-border-radius-topright:2px;
-webkit-border-radius-bottomleft:2px;
-webkit-border-radius-bottomright:1px;
-webkit-border-radius-topleft:1px;
-webkit-border-radius-topright:2px;

background-color:#EFEFEF;
display:none;
float:right;
height:522px;
margin-bottom:20px;
padding:20px;
width:480px;
}

.screencaps {
   background-color:black;
   border:2px solid black;
   cursor:pointer;
   height:90px;
   margin-bottom:5px;
   overflow:hidden;
   text-align:center;
   width:128px;
}

.screenspace {
   width: 128px;
   height: 90px;
}

.play-video{
   position: relative;
   top: -33px;
   left: 3px;
}


.title{
   font-size:11px;
   width: 110px;
   line-height: 13px;
   height: 13px;
   overflow:hidden;
   text-show: white 1px 1px 0;
}

.drag-handle{
   float: right;
}

.titleSection .title {
   clear:both;
}

.description{
   display:none;
}


.videoInfo {
   background-color:#EFEFEF;
   border-bottom:2px solid #FFFFFF;
   border-right:2px solid #FFFFFF;
   float:left;
   height:110px;
   margin:10px 12px 10px 0;
   padding:5px;
   width:130px;
}

.ui-button-text {
   font-size: 10px;
   padding: 0.2em 0.4em;
}