html, body{
   margin: 0;
   height: 100%;
   font-family: helvetica, verdana, sans-serif;
   background-color: #F5F5F5
}

h2{
   margin-bottom: 10px;
}

#footer-spacer{
height: 150px;
}

#top{
   background-color: #94C8E9;
   border-bottom: 2px solid #62A8D4;
   padding: 15px 50px;
}

#middle{
   margin: 0 50px;
}

#login{
   float: right;
   font-size: 13px;
}

#browse-form input{
   font-size: 30px;
}

#lf_email{
   margin: 0 10px 0 5px;
   width: 150px;
}

#lf_pass { 
   width: 100px;
   margin-left: 5px
}

#login .buttons {
   margin-top: 5px;
   text-align: right;
}

#login-error-msg {
font-style: italic;
}

#login .buttons span {
   margin-left: 5px;
   margin-right: 5px;
}

#footer{
   height: 80px;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: #AAAAAA;
   border-top: 2px solid #777777;
}

#footer-tip{
   color:#777777;
   font-size:30px;
   position:absolute;
   text-align:center;
   top:25px;
   width:100%;
   z-index:2;
   text-shadow: -1px -1px 0 #DDDDDD;
}

#footer-down{
   display:none;
}

#footer-up, #footer-down{
   float: right;
   position: relative;
   top: -20px;
   z-index: 5;
}

#playlist{
   height: 200px;
   width: 5000px;
   padding: 50px 0 0 10px;
   margin: -50px 0 0 0;
   overflow: hidden;
   position: absolute;
   z-index: 3;
}

#playlist .videoInfo{

}

.recent-artists { 
   float: left;
}

.clear { 
   clear:both;
}

.left {
   float: left;
}

.right {
   float: right;
}
.default-value {
   color: #777777;
}

.playlist-del {
   float: right;
}


#similar-artists{
   font-size: 15px;
}

form.browse input{
   font-size: 30px;
}

form.browse #browseInput{
   font-weight: bolder;
}

form.browse 
#browse-button{
   margin-left: 10px;
}

#similar-artists-list a{
   margin-right: 10px;
   line-height: 25px;
}


#player-container{
display:none;
float:right;
height:564px;
margin-bottom:20px;
padding: 0 20px;
width:480px;
}


#player-container h2{
   float: left;
   margin-top: 0;
}

#player-title, #player-close{
   margin-bottom: 10px;
}

#player-close{
   float: right;
   cursor: pointer;
}

.screencaps {
   background-color:black;
   border:2px solid black;
   cursor:pointer;
   height:90px;
   margin-bottom:5px;
   overflow:hidden;
   text-align:center;
   width:128px;
}

.screenspace {
   width: 128px;
   height: 90px;
}

.play-video{
   display: none;
   position: relative;
   top: -45px;
   left: 20px;
}


.videoInfo-top .title{
   display:inline-block;
   font-size:11px;
   width: 110px;
   line-height: 16px;
   height: 13px;
   overflow:hidden;
   text-show: white 1px 1px 0;
}

.drag-handle{
   float: left;
   cursor: grab;
   cursor: -moz-grab;
   cursor: -webkit-grab;
}

.drag-handle img{
   margin: -1px 5px 0 0;
}

.titleSection .title {
   clear:both;
}

.description{
   display:none;
}


.videoInfo {
   background-color:#F5F5F5;
   float:left;
   height:110px;
   margin:10px 25px 10px 0;
   padding:5px;
   width:130px;
}

.videoTile {
   float:left;
   height:85px;
   margin:10px 20px 10px 10px;
   overflow:hidden;
   width:100px;
}

.videoTile .screencaps{
margin-bottom:5px;
margin-left:-18px;
}

.thumb-play-indicator {
   position: absolute;
   display: none;
   background-color:#EFEFEF;
   margin: -24px 0 0 -5px;
   padding: 5px;
   font-size: 11px;
}

.videoInfo .ui-button-text {
   font-size: 13px;
   padding: 0.2em 0.4em;
}
.ui-sortable{
   display: block;
   padding: 2px;
}