#extends base
#import config
#import json

#def head()
#end def

#def title()
You are the VJ with youvj!
#end def

#def body()
<dev id="top">
  <form onsubmit="return UVJ.browse(jQuery('#browseInput').val());">
    <input type="text" id="browseInput"/>
  </form>
</dev>
<dev id="middle">
</dev>
<dev id="bottom"></dev>
<script>
  var artistVids = $json.dumps($artistVids);
  jQuery(document).ready(function(){
    if( artistVids ){
      for( var i = 0; i < artistVids.length; i++ ){
          jQuery('#middle').append( UVJ.renderVideo(artistVids[i]) );
      }
    }
  });
  UVJ.browse = function( artist ){
    jQuery.post('/findvideos',
              {'artist':artist},
              function(resp){
                UVJ.onBrowseCallback(resp, artist);
              },'json');
    return false;
  };
  UVJ.onBrowseCallback = function( resp, artist ){
    jQuery('.videoInfo').remove();
    for( var i = 0; i < resp.length; i++ ){
      jQuery('#middle').append( UVJ.renderVideo(resp[i]) );
    }
  };

</script>
#end def
