#extends base
#import config
#import json

#def head()
#end def

#def title()
You are the VJ with youvj!
#end def

#def body()
<dev id="container">
  <dev id="top">
    <form onsubmit="return UVJ.browse(jQuery('#browseInput').val());">
      <input type="text" id="browseInput"/>
    </form>
    <div id="browse-similar"></div>
  </dev>
  <dev id="middle">
    <div id="player-container"></div>
  </dev>
  <dev id="footer">
    <div id="footer-up">
      <a href='#'>UP</a>
    </div>
    <div id="footer-down">
      <a href='#'>DOWN</a>
    </div>
    <ul id="playlist"></ul>
  </dev>
</dev><!-- #container -->
<script>
  UVJ.artistVids = $json.dumps($artistVids);
  UVJ.artist = "$artist";

  var easeFooter = function(){
    if( easeFooter.dir == 'up' ){
      if( easeFooter.f.height() >= easeFooter.up ){
        clearInterval(easeFooter.t);
      }else{
        easeFooter.f.height( easeFooter.f.height() + 2 );
      }
    }else{ //down
      if( easeFooter.f.height() <= easeFooter.down ){
        clearInterval(easeFooter.t);
      }else{
        easeFooter.f.height( easeFooter.f.height() - 2 );
      }
    }
  };
  easeFooter.up = 150;
  easeFooter.down = 50;
  easeFooter.dir = 'up';
  easeFooter.f = jQuery('#footer');
  easeFooter.t = null;

jQuery(document).ready(function(){
    if( UVJ.artistVids ){
      for( var i = 0; i < UVJ.artistVids.length; i++ ){
          jQuery('#middle').append( UVJ.makeThumb(UVJ.artistVids[i]) );
      }
    UVJ.loadSimilar(UVJ.artist);
    }
    UVJ.configurePlaylist();
    jQuery('#footer-up').click(function(){
                                 easeFooter.dir = 'up';
                                 easeFooter.t = setInterval( easeFooter, 20 );
                                 this.style.display = 'none';
                                 jQuery('#footer-down').show();
                               });
    jQuery('#footer-down').click(function(){
                                 easeFooter.dir = 'down';
                                 easeFooter.t = setInterval( easeFooter, 20 );
                                 this.style.display = 'none';
                                 jQuery('#footer-up').show();
                               });

  });
</script>
#end def
