#extends base
#import config
#import json

#def head()
#end def

#def title()
You are the VJ with youvj!
#end def

#def body()
<div id="container">
  <div id="top">
    <div id="login">
    </div>
    <form class="browse">
      <input type="text" id="browseInput"/><input type="submit" id="browse-button" value="Search"/>
    </form>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div id="middle">
    <div id="player-container"></div>
    <div id="similar-artists">
      <h2>Similar Artists</h2>
      <div id="similar-artists-list"></div>
    </div>
    <h2>Videos</h2>
  </div>
  <div id="footer-spacer">&nbsp;</div>
  <div id="footer">
    <div id="playlist-right" class="right">&rarr;</div>
    <div id="playlist-left" class="left">&larr;</div>
    <div id="footer-up">
      <a href='#'>UP</a>
    </div>
    <div id="footer-down">
      <a href='#'>DOWN</a>
    </div>
    <div id="footer-tip">
      Drag videos here to make a playlist!
    </div>
    
    <ul id="playlist"></ul>
  </div>
</div><!-- #container -->
<script>
  UVJ.artistVids = $json.dumps($artistVids);
  UVJ.artist = "$artist";

  UVJ.playlist.stepSize = 165 * 4;

  jQuery("#playlist-right").click(
    function(e){
      jQuery("#playlist").animate({left: '-='+UVJ.playlist.stepSize+'px'}, "slow");
    });

  jQuery("#playlist-left").click(
    function(e){
      jQuery("#playlist").animate({left: '+='+UVJ.playlist.stepSize+'px'}, "slow");
    });

  var easeFooter = function(){
    if( easeFooter.dir == 'up' ){
      if( easeFooter.f.height() >= easeFooter.up ){
        clearInterval(easeFooter.t);
      }else{
        easeFooter.f.height( easeFooter.f.height() + 4 );
      }
    }else{ //down
      if( easeFooter.f.height() <= easeFooter.down ){
        clearInterval(easeFooter.t);
      }else{
        easeFooter.f.height( easeFooter.f.height() - 4 );
      }
    }
  };
  easeFooter.up = 150;
  easeFooter.down = 80;
  easeFooter.dir = 'down';
  easeFooter.f = jQuery('#footer');
  easeFooter.t = null;

jQuery(document).ready(function(){

    if( UVJ.artistVids ){
      for( var i = 0; i < UVJ.artistVids.length; i++ ){
          jQuery('#middle').append( UVJ.makeThumb(UVJ.artistVids[i]) );
      }
      if( UVJ.artist && UVJ.artist.length ){
        UVJ.loadSimilar(UVJ.artist);
      }
    }

    jQuery('form.browse').submit(function(e){
	jQuery('#browseInput').focus();
	var artistName = jQuery('#browseInput').val();
	if( artistName.length > 0 ){
	    UVJ.browse(artistName);
	}
	return false;
    });

    UVJ.playlist.configure();
    UVJ.user.updateLoginStatus();
    jQuery('#browseInput').defaultValue('Artist Name');
    if( UVJ.artist && UVJ.artist.length ){
    	jQuery('#browseInput').removeClass('default-value').val(UVJ.artist);
    }
    jQuery('#footer-up').click(function(){
                                 easeFooter.dir = 'up';
                                 easeFooter.t = setInterval( easeFooter, 20 );
                                 this.style.display = 'none';
                                 jQuery('#footer-down').show();
                               });
    jQuery('#footer-down').click(function(){
                                 easeFooter.dir = 'down';
                                 easeFooter.t = setInterval( easeFooter, 20 );
                                 this.style.display = 'none';
                                 jQuery('#footer-up').show();
                               });

    UVJ.init = {};
    UVJ.init.pl = $json.dumps($playlist);
    UVJ.init.c_domain = ".${config.hostname}";
    UVJ.playlist.addFromInfo(UVJ.init.pl);

  });
</script>
#end def
