#extends base
#import config
#import json
#def head()
    <link href="/css/vidtunes.css" type="text/css" rel="stylesheet">
    <link href="/css/ui-lightness/jquery.ui.base.css" type="text/css" rel="stylesheet">
    <link href="/css/ui-lightness/jquery-ui-1.8.custom.css" type="text/css" rel="stylesheet">
    <script src="/js/jquery-ui-1.8.custom.min.js"></script>
#end def

#def title()
Look for videos
#end def

#def body()
    <div id="media">
      <div id="browser">
        <div id="artistlisting"></div>
      </div>
      <div id="featureVideo">
      </div>

      <div id="similar-artist-divider"></div>
    </div>

    <div id="footer">
      <div class="footer-icon" id="fb-login">

      	<div id="popup-welcome-fb-signin">
 	  <div id="fb-login-button-wrapper">
	    <div id="fb-login-button">
	      <fb:login-button size="large" v="1" length="long" onlogin="FBCLogin();"></fb:login-button> 
	    </div>
	  </div>
	</div><!--#popup-welcome-fb-signin-->

      </div>
      <div id="fb-friends">
	<div id="fb-friends-list">
	</div>
	<div id="fb-friends-pager">
	  <a id="fb-friends-pager-up" href="#">Previous Page</a>
	  <a id="fb-friends-pager-down" href="#">Next Page</a>
	</div>
      </div>
      
      <div id="fb-explain">
	<table><thead></thead><tbody>
	    <tr><td>
		<h1>Connect with Facebook!</h1>
		</td>
	      <td>
		<ul>
		  <li>Browse your Facebook friends' favorite bands and their videos!</li>
		  <li>Discover new videos of bands you have "liked" on Facebook!</li>
		  <li>Share your best finds with your facebook friends!</li>
		</ul>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </div>
      <div style="clear: both; height: 1px"></div>
    </div><!-- #footer -->


    <script type="text/javascript">
      var UVJ = {};
      #if $hasVar('onLoadSearch')
      UVJ.onLoadSearch = $json.dumps($onLoadSearch);
      #end if

      var FBC2 = {};
      #if $hasVar('fbUser')
      FBC2.fbSession = $json.dumps($fbSession);
      FBC2.user = $json.dumps($fbUser);
      #else
      FBC2.user = {};
      #end if
    </script> 
    <script src="/js/vidtunes.js" type="text/javascript"></script>
      
#end def
