#extends base

#def head()
    <link href="/css/vidtunes.css" type="text/css" rel="stylesheet">
    <link href="/css/jquery.ui.base.css" type="text/css" rel="stylesheet">
    <link href="/css/jquery-ui-1.8.custom.css" type="text/css" rel="stylesheet">
    <script src="/js/jquery-ui-1.8.custom.min.js"></script>
    <script src="/js/vidtunes.js" type="text/javascript"></script>
#end def

#def title()
Look for videos
#end def

#def body()
    <div id="queryForm">
      <form onsubmit="return false;">
	<textarea id="artistnames" name="artistnames"></textarea>
      </form>
    </div>
    <div id="media">
      <div id="artists">
	<div id="artistlisting"></div>
	<a id="search" href="#">Search again</a>
      </div>
      <div id="videos">
      </div>
      <div id="featureVideo">
      </div>
    </div>

#end def
