#extends base
#import config
#import json

#def head()
<style type='text/css'>
  .front-banner {
  font-size: 20px;
  }
  input {
  font-size: 30px;
  }
</style>
#end def

#def title()
You are the VJ with youvj! Music Videos, VJ, ...
#end def

#def body()
<dev id="top"></dev>
<dev id="middle">
  <div class="front-banner">Enter an artist or a band, watch and share music videos!</div>
  <form id="browse-form" method="post" action="/browse">
    <input name="artist" type="text" />
    <input type="submit" value="Show Videos!" />
  </form>
  <div id="recent">
     <div class="video-thumbs"></div>
  </div>

</dev>
<dev id="bottom"></dev>
<script>
var recent_videos = $recent_videos;

var LP = {};
LP.rowIdx = 0;

LP.rotateRow = function(i){
     var row = jQuery("<div class='scrollrow'></div>");
     row.append("<div class='title'>"+recent_videos[i][0]+"</div>");
     for( var j = 0; j < Math.min(recent_videos[i][1].length, 4); j++ ){
     	  row.append(jQuery(UVJ.makeVidTile(recent_videos[i][1][j])));
     }
     row.append('<div class="clear"></div>');
     row.css({'display':'none'});
     var thumbList = jQuery('#recent .video-thumbs');
     thumbList.prepend(row);
     var thumbRows = jQuery('#recent .video-thumbs .scrollrow');
     if( thumbRows.length > 4 ){
          thumbRows.last().remove();
     }    
     row.slideDown();
};

LP.onScrollTime = function(){
	LP.rotateRow(LP.rowIdx);
	LP.rowIdx += 1;
	if( LP.rowIdx >= recent_videos.length ){
	    LP.rowIdx = 0;
	}
};

LP.timeDriver = setInterval(LP.onScrollTime,3000);
LP.onScrollTime();
</script>

#end def
