#extends base
#import config
#import json

#def head()
#end def

#def title()
You are the VJ with youvj!
#end def

#def body()
<dev id="top"></dev>
<dev id="middle">
  <form method="post" action="/browse">
    <input name="artist" type="text" />
    <input type="submit" value="send" />
  </form>
</dev>
<dev id="bottom"></dev>
#end def
