<html>
  <head>
    <title>Hey buddy!</title>
  </head>
  <body>

    <form action="/vidtunes/upload_receive" method="post" enctype="multipart/form-data">
      Feed me a file <input name="uploadfile" type="file" size="20"/>
      <input type="submit" value="Onwards"/>
    </form>
  </body>
</html>
